<nav class="nav-grid-container">
    <img src="assets/shared/logo.svg" alt="">
    <hr class="nav-grid-overlap">
    <ul class="main-navigation-flexbox">
      <li class="navigation-text main-navigation-item"><a href="index.html"><bold class="navigation-text-bold">00 </bold>Home</a></li>
      <li class="navigation-text main-navigation-item"><a href="destinations.html"><bold class="navigation-text-bold">01 </bold>Destinations</a></li>
      <li class="navigation-text main-navigation-item"><a href="crew.html"><bold class="navigation-text-bold">02 </bold>Crew</a></li>
      <li class="navigation-text main-navigation-item"><a href="technology.html"><bold class="navigation-text-bold">03 </bold>Technology</a></li>
    </ul>
  </nav>

  <nav>
    <div class="mobile-nav-container">
      <img class="mobile-nav-logo" src="assets/shared/logo.svg" alt="">
      <img class="mobile-nav-hamburger" src="assets/shared/icon-hamburger.svg" alt="">
    </div>
    <div class="mobile-nav-dropdown">
      <ul>
        <li class="navigation-text mobile-navigation-item"><a href="index.html"><bold class="navigation-text-bold">00 </bold>Home</a></li>
        <li class="navigation-text mobile-navigation-item"><a href="destinations.html"><bold class="navigation-text-bold">01 </bold>Destinations</a></li>
        <li class="navigation-text mobile-navigation-item"><a href="crew.html"><bold class="navigation-text-bold">02 </bold>Crew</a></li>
        <li class="navigation-text mobile-navigation-item"><a href="technology.html"><bold class="navigation-text-bold">03 </bold>Technology</a></li>  
      </ul>
    </div>
  </nav>